# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8081
    NODE_ENV: production
    JWT_SECRET: QX7wJUmX5gSGJ7XXq2AwAyhv6kE4E4naEa2BgjNANf2dJxTJyNch7U5QDfaZ6WX7FUeAa6Zp
    PASSWORD: 7wrWGJ1L
    DB_CONFIG: mongodb+srv://ADMIN:8X93HZbZcgSilVa0@cluster0.2q46h.mongodb.net/vendee?retryWrites=true&w=majority
    TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoIjp0cnVlLCJpYXQiOjE2MTc2MjgyMzJ9.By7y6JRJA1vpzmwbltocJCBsdzN2_Xc3k2oN0VAHdPQ
    LOCAL_URL: http://localhost:3001
    PROD_URL: http://Vendeeprod-env.eba-pswampqy.us-east-1.elasticbeanstalk.com
    TIMEZONE: Europe/London